{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrastyle %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/jquery-mentions/jquery.mentions.css"/>
{% endblock %}

{% block content %}
    <h2>Path: {{ adminform.form.instance.name }}</h2><br/>
    {% verbatim %}
    <div id="app">
        <b-card-group deck>
            <entry v-for="entry_id in entry_ids" :key="entry_id" :pk="entry_id"></entry>
        </b-card-group>

    </div>
    {% endverbatim %}

{% endblock %}
{% block footer %}
    {{ block.super }}

    {% verbatim %}
    <script id="template-entry" type="template/vuejs">
        <b-card>
            <div v-if="!this.loaded">
                <h2>... 로딩 중: #E{{ this.pk }} ...</h2>
            </div>
            <div v-if="this.loaded">
                <h6 slot="header" class="mb-0 text-gray-dark">#T{{ item.id }} / {{ item.object }}</h6>

                <div class="mb-3" style="white-space: pre-wrap;"><strong>원문</strong><br/>{{ item.text_en }}<br/></div>
                <div class="mb-3" style="white-space: pre-wrap;" v-if="item.text_jpkr"><strong>일본어</strong><br/> {{ item.text_jpkr  }}<br/></div>
                <div class="mb-3" style="white-space: pre-wrap;" v-if="item.text_pp"><strong>파파고</strong><br/> <span v-html="item.text_pp"></span><br/>
                </div>
                <hr/>

                <div class="">
                    <h5>번역</h5>
                    <translate v-for="trans in item.translations" :key="trans.id" :item="trans"
                               @reload="reload"></translate>
                    <p v-if="!item.translations.length" class="text-muted">## 번역이 없습니다 ##</p>
                    <comment-box text="번역 추가하기" is-mention="true" post-type="translate"
                                 @upload="postTranslate" ref="comment"></comment-box>
                </div>
                <hr/>
            </div>
        </b-card>
    </script>

    <script id="template-discuss" type="template/vuejs">
        <div class="mb-2">
            ㄴ
            <span class="mb-0 discuss-name"><strong>{{ item.user }}</strong></span>
            <b-badge variant="light">{{ item.created_at }}</b-badge>
            <b-button v-if="canDelete" variant="link" class="text-danger" @click="deleteMe">삭제</b-button>

            <div class="mb-0">
                <span class="discuss-msg" style="white-space: pre-wrap;">{{ item.msg }}</span>
            </div>
        </div>
    </script>

    <script id="template-trans" type="template/vuejs">
        <div>
            <div class="mb-1">
                <b-badge variant="secondary">#{{ item.id }}</b-badge>
                <span v-if="item.user != 'unknown'"><strong>{{ item.user }}</strong></span>
                <b-badge variant="light">{{ item.created_at }}</b-badge>
                <b-button v-if="canDelete" variant="link" class="text-danger" @click="deleteMe">삭제</b-button>
                <div class="float-right">
                    <likes :likes="item.likes" type="trans" :pk="item.id"></likes>

                    <div v-if="!this.writting && item.discusses.length == 0" class="clearfix">
                        <b-button class="mb-0 p-0 float-right" variant="link" @click="enableWrite">댓글 달기</b-button>
                    </div>


                    <div class="clearfix"></div>
                </div>

                <div class="mt-1 mb-0">
                    <span v-html="item.text" style="white-space: pre-wrap;"></span>
                </div>
            </div>
            <div class="mb-3 ml-4">
                <discuss v-for="discuss in item.discusses" :key="discuss.id" :item="discuss"
                         @reload="$emit('reload')"></discuss>

                <div v-if="!this.writting && item.discusses.length != 0" class="clearfix">
                    <b-button class="mb-0 p-0" variant="link" @click="enableWrite">댓글 달기</b-button>
                </div>

                <comment-box v-if="this.writting" text="의견 추가하기" is-mention="false" post-type="discuss"
                             @upload="postComment" ref="comment"></comment-box>
            </div>
        </div>
    </script>

    <script id="template-likes" type="template/vuejs">
        <b-button size="sm" :variant="this.variant" @click.prevent="toggle">좋아요
            <b-badge variant="light">
                {{ this.count }} <span class="sr-only">liked</span>
            </b-badge>
        </b-button>
    </script>

    <script id="template-comment-box" type="template/vuejs">
        <div class="clearfix mb-4">
            <b-form-group>
                <textarea ref="textarea" :class="{'form-control': true, mentions: isMention, 'js-elasticArea':true}"
                          v-model="content"
                          placeholder="Enter new translation"></textarea>
            </b-form-group>
            <b-button variant="outline-primary" class="float-right" @click.prevent="upload">{{ this.text }}</b-button>
        </div>
    </script>

    {% endverbatim %}

    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/jquery-mentions/jquery.mentions.js"></script>
    <script src="/static/js/translate.js"></script>
    <script src="/static/js/elastic.js"></script>

    <script language="javascript">
        var userPk = {{ user.id }};

        /* global Vue */
        Vue.component('entry', {
            props: ['pk'],
            data: function () {
                return {
                    loaded: false,
                    'item': {
                        translations: []
                    }
                }
            },
            template: document.getElementById('template-entry').innerText,
            created: function () {
                this.reload()
            },
            methods: {
                postTranslate: function (content) {
                    var entry = this;

                    axios.post("/" + ["api", "translate", this.pk].join("/") + "/", content)
                        .then(function (res) {
                            console.log("post translate result");

                            if (res.status === 200) {
                                entry.item.translations = res.data.translations;
                                this.$refs.comment.reset();
                            } else {
                                console.error(res);
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                reload: function () {
                    var self = this;

                    axios.get("/" + ["api", "entry", this.pk].join("/") + "/")
                        .then(function (res) {
                            self.item = res.data;
                            self.loaded = true;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }
            }
        });

        Vue.component('translate', {
            props: ['item'],
            data: function () {
                return {
                    writting: false,
                    showError: false,
                    showWarning: false
                }
            },
            template: document.getElementById('template-trans').innerText,
            methods: {
                enableWrite: function () {
                    this.writting = true;
                },
                postComment: function (content) {
                    var translate = this;
                    console.log(this);

                    axios.post("/" + ["api", "discuss", this.item.id].join("/") + "/", content)
                        .then(function (res) {
                            console.log("post comment result");

                            if (res.status === 200) {
                                translate.item.discusses = res.data.discusses;
                                translate.$refs.comment.reset();
                            } else {
                                console.error(res);
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                deleteMe: function () {
                    {#                    if (this.item.discusses.length) {#}
                    {#                        alert("댓들이 있는 번역은 삭제될 수 없습니다! (관리자에게 문의해주세요!)");#}
                    {#//                        this.showError = true;#}
                    {#                    } else {#}
                    var self = this;
                    axios.post("/" + ["api", "translate", "delete", this.item.id].join("/") + "/", content)
                        .then(function (res) {
                            if (res.status === 200) {
                                self.$emit('reload');
                            } else {
                                console.error(res);
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
//                        this.showWarning = true;
                    {#}#}
                    }
                },
                computed: {
                    canDelete: function () {
                        return this.item.user === '{{ request.user.username }}' || '{{ request.user.is_superuser }}' === 'True';
                    }
                }
            });

        Vue.component('discuss', {
            props: ['item'],
            template: document.getElementById('template-discuss').innerText,
            methods: {
                deleteMe: function () {
                    var self = this;
                    axios.post("/" + ["api", "discuss", "delete", this.item.id].join("/") + "/", content)
                        .then(function (res) {
                            if (res.status === 200) {
                                self.$emit('reload');
                            } else {
                                console.error(res);
                            }
                        })
                }
            },
            computed: {
                canDelete: function () {
                    return this.item.user === '{{ request.user.username }}' || '{{ request.user.is_superuser }}' === 'True';
                }
            }
        });

        Vue.component('likes', {
            props: ['likes', 'type', 'pk'],
            data: function () {
                return {
                    likesProxy: this.likes.slice()
                }
            },
            computed: {
                variant: function () {
                    if (this.likesProxy.indexOf(userPk) !== -1) return 'outline-primary';
                    return 'primary';
                },
                count: function () {
                    return this.likesProxy.length
                }
            },
            template: document.getElementById('template-likes').innerText,
            methods: {
                toggle: function () {
                    var action = "like";
                    if (this.likesProxy.indexOf(userPk) !== -1) action = "unlike";

                    var parent = this;
                    axios.get("/" + ["api", "like", action, this.type, this.pk].join("/") + "/")
                        .then(function (res) {
                            parent.likesProxy = res.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }
            }
        });

        Vue.component('comment-box', {
            props: ['text', 'isMention', 'postType'],
            data: function () {
                return {
                    content: ''
                }
            },
            template: document.getElementById('template-comment-box').innerText,
            methods: {
                upload: function () {
                    var content = '';

                    if (this.isMention === 'true') {
                        content = $(this.$refs.textarea).mentionsInput('getValue');
                    } else {
                        content = this.$refs.textarea.value;
                    }
                    this.$emit('upload', {
                        postType: this.postType,
                        postData: content
                    });
                },
                reset: function () {
                    this.$refs.textarea.value = '';
                }
            }
        });

        new Vue({
            el: '#app',
            data: {
                entry_ids: {{ adminform.form.instance.to_id_json_text }},
                showModal: false
            }
        });

    </script>

{% endblock %}